*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./utilities/maps";

$colores :(
    color1: #430A5D,
    color2: #5F374B,
    color3: #8C6A5D,
);


header{
    display: flex;
    justify-content: space-between;
    background-color: map-get($colores, color1);
    h1 {
        color: map-get($colores, color2);
    }
   nav{
    background-color: gray;
   }

   }
   .navbar{
        display: flex;
        gap: 1.25rem;
        list-style: none;
     
       li{

           a{
           text-decoration: none;
           color: map-get($colores , color2);
            &:hover{
            color: map-get($colores, color3);
                   }
            }
        } 
    }


