@media (max-width:1440px){
    .header-index{
        padding: 1px 2rem;
        width: 90%;
        height: 100%;
        font-size: 20px;
        justify-content: none;
        align-items: center;
        
    }
    .header-index nav{
        width: 100%;
        justify-content:none ;
        
    }
    .navbar li a{
        font-size: 25px ;
    }
    .contenedor-cards{
    padding: 10px;
   }
   }