@media (max-width: 1440px) {
    .header-index {
      padding: 1px 2rem;
      width: 90%;
      height: 100%;
      font-size: 20px;
      justify-content: none;
      align-items: center; }
    .header-index nav {
      width: 100%;
      justify-content: none;
      background-color: #51829B; }
    .navbar li a {
      font-size: 25px; }
  
    .section-principal {
      width: 110%; }
  
    .section-dos {
      width: 108%; }
  
    .contenedor-accesos img {
      width: 80%;
      height: 50%;
      padding-left: 60px;
    } 
  
    .parrafo {
      width: 90%;}
  
    p {
      width: 80%;
      font-size: 14px; }}
  