@media (max-width:768px) {

    .header-index{
        padding: 1px 2rem;
        width: 135%;
        height: 150%;
        font-size: 20px;
        justify-content: space-around;
        align-items: center;
        
    }
    .header-index nav{
        width: 135%;
        justify-content:none ;
        background-color: #51829B;
    }
    .navbar li a{
        font-size: 25px ;
    }

    .section-principal{
        width: 145%;
        height: 100%;
    }
    .section-dos{
        width: 145%;
        font-size: 25px;

    }
    p{
        font-size: 20px;
    }
    .grid{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 200%;
        gap: 100px;
    
    }
    .grid .box-img:nth-child(1){
        grid-column-start: span 1;
    }
    .grid .box-img figure{
        width: 100%;
        height: 100%;
        padding: -60px;
        flex-direction: row;
       
    }
    .grid .box-img img{
        width: 80%;
        height: 80%;
    } 
    footer{
        width: 150%;
    }
}