@media (max-width: 768px) {
    .header-index{
        padding: 1px 2rem;
        width: 135%;
        height: 150%;
        font-size: 20px;
        justify-content: space-around;
        align-items: center;
        
    }
    .header-index nav{
        width: 135%;
        justify-content:none ;
        
    }
    .navbar li a{
        font-size: 25px ;
    }

    .section-principal{
        width: 150%;
      
    }
    .section-dos{
        width: 155%;
        padding-bottom: 20px;
        font-size: 25px;

    }

    .contenedor-cards{
        
        align-items: center;
    }

    footer{
        width: 150%;
        padding-bottom: 250px;
    }
   }